*{
    box-sizing:border-box;
}
img{
    max-width: 100%;
}
body{
    cursor: url(images/cursor.png), auto;
    background-color:honeydew;
    font-family: Helvetica, sans-serif;
    margin:0;
    width:100%;
    overflow-x:hidden;
}
.top{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-top: 10px;
    margin-right: 15px;
}

p{
    font-size: 20px;
    font-style: italic;
    font-weight:lighter;
    position: sticky;
    
}
hr{
    border: 5px solid;

}
.akura{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-style:italic;

    color: black;
    font-size:25px;
}

.head{
    background-color: orangered;
    width:100%;
    height:26px;
    display:flex;
    justify-content: space-around;


}
.container{
    height:50vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;

}
.sky{
    background-color:#00adee;
    width:750px;
    height:300px;
    border:10px solid;
    border-radius:200px;
    padding: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
   
     
}
.sun{
    
    bottom:-60%;
    left:10%;
    animation: sun 5s infinite;
    pointer-events: none;
}
    
 @keyframes sun {
    100% {transform: rotate(360deg);}
  } 



.button{
    background-color: #00adee; 
    border: 10px solid;
    border-radius:30px;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.button:hover{
    color:honeydew;
    background-color:orangered;
    transition-duration: 0.4s;
    font-style: italic;

}
.links{
    background-color: orangered;
   
   padding:15px;
   display:flex;
   flex-wrap: wrap;
   justify-content: center;

  
}
.d1{
    background-color: orangered;
    border: 5px solid;
    padding: 10px;
    margin: 20px; 

}
summary{
    font-size: 19px;
    font-weight:bold;
    
}
.d1:hover{
    background-color:#00adee;
}


