*{
    box-sizing:border-box;
}
img{
    max-width: 100%;
}
body{
    cursor: url(images/cursor.png), auto;
    background-color:honeydew;
    font-family: Helvetica, sans-serif;
}

p{
    font-size: 20px;
    font-style: italic;
    font-weight:lighter;
    position: sticky;
}
hr{
    border: 5px solid;

}
.akura{
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
    font-size:150px;
    position: absolute;
    top:-60%;
    left:50%;
    transform: translate(-50%,-50%);
}
.akura:hover{
    font-style:italic;
    letter-spacing: 10px;
    transition-duration: 0.4s;

}
.parent{
    background-color:#00adee;
    width:750px;
    height:300px;
    border:10px solid;
    border-radius:200px;
    padding: 20px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  
    
}
.sun{
    position:absolute;
    bottom:-60%;
    left:10%;
    /* transform: translate(-50%,-50%); */
    animation: sun 5s infinite;
}
    
 @keyframes sun {
    100% {transform: rotate(360deg);}
  } 
.button{
    background-color: #00adee; 
    border: 10px solid;
    border-radius:30px;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.button:hover{
    color:honeydew;
    background-color:orangered;
    transition-duration: 0.4s;
    font-style: italic;

}
.links{
    background-color: orangered;
   height:100px;
   padding:15px;
  
}
.d1{
    background-color: orangered;
    border: 5px solid;
    padding: 10px;
    margin: 20px; 

}
summary{
    font-size: 19px;
    font-weight:bold;
    
}
.d1:hover{
    background-color:#00adee;
}


