*{
    box-sizing:border-box;
}
img{
    max-width: 100%;
}
body{
    background: #b88b7d;
    font-family:  Helvetica, sans-serif;
    transition: background .2s, font-size .5s;
}
.container{
    border:1px solid;
    padding:20px;
    max-width:1000px;
    margin:0 auto;
    background: #a3b87d;
}
header, footer{
    text-align:center;
    border:1px solid;
    padding:20px;
    
}
main{
    display: flex;
    gap:10px;
    margin: 10px 0;
}
.left, .center, .right{
    border:1px solid;
    padding:20px; 
}
.content{
    display:flex;
    width:75%;
    gap:10px;
    
}
.left{
    width:25%;
}
.center, .right{
    width:50%;
}


@media screen and (max-width:900px){
    body{
        background: #8a7db8;
        
    }
    .container{
        background:#b88b7d;
    }
    main{
        flex-direction:column;
    }
    .content{
        width:100%;

    }
    .left, .right, .center{
        width:100%;
    }

}
@media screen and (max-width:600px){
    body{
        background:#a3b87d;
        font-size:120%;
       
    }
    .container{
        background: #8a7db8;
    }
    .content{
        flex-direction: column;
    }
}